# Introduction to pandas.

In [14]:
import pandas as pd # In practice it's always better to use from pandas import <the classes you neeed here>
import numpy as np

In [4]:
series1 = pd.Series(range(5))

In [5]:
dir(series1)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [25]:
#Create a Series of integers
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [26]:
#Create a Sieries of str
pd.Series(["C","B","A"])

0    C
1    B
2    A
dtype: object

In [28]:
# create a siries of several typings
pd.Series([1,"A",True])

0       1
1       A
2    True
dtype: object

In [33]:
# extract the data from a Sries as an array 
s = pd.Series([4, 2,1, 3])
s.array # notice the resulting typing is PandasArray and please check the doc out

<PandasArray>
[4, 2, 1, 3]
Length: 4, dtype: int64

In [34]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [35]:
#An index can also be explicitly provided when constructing a Series,
t = pd.Series([4, 2,1, 3], index = ["a","b", "c", "d"])
t

a    4
b    2
c    1
d    3
dtype: int64

In [36]:
t.index

Index(['a', 'b', 'c', 'd'], dtype='object')

## pandas - Series + NumPy

In [37]:
t = pd.Series([4,2,1,3], index=["a","b","c","d"])

In [38]:
t+ 1

a    5
b    3
c    2
d    4
dtype: int64

In [39]:
np.log(t)

a    1.386294
b    0.693147
c    0.000000
d    1.098612
dtype: float64

In [40]:
np.exp(-t**2)

a    1.125352e-07
b    1.831564e-02
c    3.678794e-01
d    1.234098e-04
dtype: float64

## pandas - Series indexing

In [41]:
t = pd.Series([4,2,1,3], index=["a","b","c","d"])

In [42]:
t

a    4
b    2
c    1
d    3
dtype: int64

In [43]:
t[1]

2

In [44]:
t[[1,2]]

b    2
c    1
dtype: int64

In [45]:
t["c"]

1

In [46]:
t[["a", "d"]]

a    4
d    3
dtype: int64

In [47]:
t[t==3]

d    3
dtype: int64

In [48]:
t[t%2 == 0 ]

a    4
b    2
dtype: int64

In [49]:
t["d"] = 6 
t

a    4
b    2
c    1
d    6
dtype: int64

In [52]:
t.dtype == np.int64

True

In [53]:
m = pd.Series([1,2,3,4], index = ["a","b","c","d"])
n = pd.Series([4,3,2,1], index = ["d","c","b","a"])
o = pd.Series([1,1,1,1,1], index = ["b","d","a","c","e"])

In [54]:
m + n

a    2
b    4
c    6
d    8
dtype: int64

In [55]:
n + m

a    2
b    4
c    6
d    8
dtype: int64

In [56]:
n + o

a    2.0
b    3.0
c    4.0
d    5.0
e    NaN
dtype: float64

In [57]:
m + o

a    2.0
b    3.0
c    4.0
d    5.0
e    NaN
dtype: float64

## Series and dictionaries

In [10]:
d = {"anna": "A+", "bob": "B-", "carol":{ "C" : 2} , "dave": "D+"}
pd.Series(d)

anna           A+
bob            B-
carol    {'C': 2}
dave           D+
dtype: object

In [12]:
type(d["carol"])

dict

In [59]:
d = {"anna": "A+", "bob": "B-", "carol": "C", "dave": "D+"}
pd.Series(d)

anna     A+
bob      B-
carol     C
dave     D+
dtype: object

In [60]:
pd.Series(d, index = ["dave","carol","bob","anna"])

dave     D+
carol     C
bob      B-
anna     A+
dtype: object

## Series and strings

In [61]:
s = pd.Series(["the quick", "brown fox", "jumps over", "a lazy dog"])
s

0     the quick
1     brown fox
2    jumps over
3    a lazy dog
dtype: object

In [62]:
s.str.upper()

0     THE QUICK
1     BROWN FOX
2    JUMPS OVER
3    A LAZY DOG
dtype: object

In [63]:
s.str.split(" ").str[1]

0    quick
1      fox
2     over
3     lazy
dtype: object

In [65]:
pd.Series([1,2,3]).str # Note the the previous only holds for str typing columns

AttributeError: Can only use .str accessor with string values!

## Categorical Series

In [66]:
pd.Series(["Mon","Tue", "Wed", "Thur", "Fri"])

0     Mon
1     Tue
2     Wed
3    Thur
4     Fri
dtype: object

In [67]:
pd.Series(["Mon", "Tue", "Wed", "Thur", "Fri"],
dtype="category")

0     Mon
1     Tue
2     Wed
3    Thur
4     Fri
dtype: category
Categories (5, object): ['Fri', 'Mon', 'Thur', 'Tue', 'Wed']

In [68]:
pd.Series(["Mon", "Tue", "Wed", "Thur", "Fri"], dtype=pd.CategoricalDtype(ordered=True))

0     Mon
1     Tue
2     Wed
3    Thur
4     Fri
dtype: category
Categories (5, object): ['Fri' < 'Mon' < 'Thur' < 'Tue' < 'Wed']

## DataFrame: constructing DataFrames

In [69]:
n = 5
d = {
"id": np.random.randint(100, 999, n),
"weight": np.random.normal(70, 20, n),
"height": np.random.normal(170, 15, n),
"date": pd.date_range(start='2/1/2022', periods=n, freq='D')
}

In [70]:
df = pd.DataFrame(d)
df

    id      weight      height       date
0  793   57.054882  164.658720 2022-02-01
1  722  112.306916  194.982242 2022-02-02
2  102  104.777079  168.990376 2022-02-03
3  680   29.276443  164.212097 2022-02-04
4  555  110.850129  176.594520 2022-02-05

In [17]:
dir(df)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'date',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'height',
 'hist',
 'iat',
 'id',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'weight',
 'where',
 'xs']

In [71]:
## dataframe from nparray
pd.DataFrame(np.diag([1,2,3]),columns = ["x", "y", "z"])

   x  y  z
0  1  0  0
1  0  2  0
2  0  0  3

In [73]:
pd.DataFrame(np.tri(5,3,-1),columns = ["x","y","z"],index = ["a","b","c","d","e"])

     x    y    z
a  0.0  0.0  0.0
b  1.0  0.0  0.0
c  1.0  1.0  0.0
d  1.0  1.0  1.0
e  1.0  1.0  1.0

In [75]:
## Indexing DataFrame 
df

    id      weight      height       date
0  793   57.054882  164.658720 2022-02-01
1  722  112.306916  194.982242 2022-02-02
2  102  104.777079  168.990376 2022-02-03
3  680   29.276443  164.212097 2022-02-04
4  555  110.850129  176.594520 2022-02-05

In [ ]:
df[0]# KeyError: 0

In [76]:
df["id"] # Idexing from column's name or simpy use df.id

0    793
1    722
2    102
3    680
4    555
Name: id, dtype: int64

In [77]:
df[1:3]

    id      weight      height       date
1  722  112.306916  194.982242 2022-02-02
2  102  104.777079  168.990376 2022-02-03

In [78]:
df[0::3]

    id     weight      height       date
0  793  57.054882  164.658720 2022-02-01
3  680  29.276443  164.212097 2022-02-04

In [81]:
# Indexing by position 
df.iloc[1]

id                        722
weight             112.306916
height             194.982242
date      2022-02-02 00:00:00
Name: 1, dtype: object

In [83]:
df.iloc[[1]] # notice that the output typing is dfferent from the last one.

    id      weight      height       date
1  722  112.306916  194.982242 2022-02-02

In [84]:
df.iloc[0:2]

    id      weight      height       date
0  793   57.054882  164.658720 2022-02-01
1  722  112.306916  194.982242 2022-02-02

In [86]:
df.iloc[1:3,1:3]

       weight      height
1  112.306916  194.982242
2  104.777079  168.990376

In [87]:
df.iloc[0:3, [0,3]]

    id       date
0  793 2022-02-01
1  722 2022-02-02
2  102 2022-02-03

In [88]:
df.iloc[0:3, [True, True,
False, False]]

    id      weight
0  793   57.054882
1  722  112.306916
2  102  104.777079

In [85]:
df.iloc[lambda x: x.index % 2 != 0] # indexing using a customized function

    id      weight      height       date
1  722  112.306916  194.982242 2022-02-02
3  680   29.276443  164.212097 2022-02-04

In [102]:
df = pd.read_csv("../data/test_data.csv", index_col=0)

In [104]:
df.index = (["anna","bob","carol", "dave", "erin"])
df

        id     weight      height        date
anna   957  76.280844  169.428326  2022-02-01
bob    276  52.126210  178.755594  2022-02-02
carol  518  60.530566  177.915689  2022-02-03
dave   286  35.192746  160.529773  2022-02-04
erin   125  50.432409  166.838746  2022-02-05

In [105]:
df.loc[["anna"]]

       id     weight      height        date
anna  957  76.280844  169.428326  2022-02-01

In [106]:
df.loc["bob":"dave"]

        id     weight      height        date
bob    276  52.126210  178.755594  2022-02-02
carol  518  60.530566  177.915689  2022-02-03
dave   286  35.192746  160.529773  2022-02-04

In [107]:
df.loc[df.id < 300]

       id     weight      height        date
bob   276  52.126210  178.755594  2022-02-02
dave  286  35.192746  160.529773  2022-02-04
erin  125  50.432409  166.838746  2022-02-05

In [108]:
df.loc[:, "date"]

anna     2022-02-01
bob      2022-02-02
carol    2022-02-03
dave     2022-02-04
erin     2022-02-05
Name: date, dtype: object

In [109]:
df.loc[["bob","erin"], "weight":"height"]

         weight      height
bob   52.126210  178.755594
erin  50.432409  166.838746

In [110]:
df.loc[0:2, "weight":"height"]

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

In [111]:
df.index = range(5)
df

    id     weight      height        date
0  957  76.280844  169.428326  2022-02-01
1  276  52.126210  178.755594  2022-02-02
2  518  60.530566  177.915689  2022-02-03
3  286  35.192746  160.529773  2022-02-04
4  125  50.432409  166.838746  2022-02-05

In [112]:
df.loc[0:2, "weight":"height"]

      weight      height
0  76.280844  169.428326
1  52.126210  178.755594
2  60.530566  177.915689

## Views and copies using pandas

In [113]:
d = pd.DataFrame(np.arange(6).reshape(3,2), columns = ["x","y"])

In [114]:
d

   x  y
0  0  1
1  2  3
2  4  5

In [116]:
v = d.iloc[0:2, 0:2]
v

   x  y
0  0  1
1  2  3

In [117]:
np.shares_memory(v, d)

True

In [118]:
d["x"][0] = -1

In [119]:
d

   x  y
0 -1  1
1  2  3
2  4  5

In [120]:
v

   x  y
0 -1  1
1  2  3

In [121]:
v.iloc[0,0] = np.pi
v

          x  y
0  3.141593  1
1  2.000000  3

In [122]:
d

   x  y
0 -1  1
1  2  3
2  4  5

In [125]:
d["x"][2] = 0.4

In [126]:
d

     x  y
0 -1.0  1
1  2.0  3
2  0.4  5

In [127]:
v

          x  y
0  3.141593  1
1  2.000000  3

## pandas - DataFrame: filtering rows

In [128]:
df

    id     weight      height        date
0  957  76.280844  169.428326  2022-02-01
1  276  52.126210  178.755594  2022-02-02
2  518  60.530566  177.915689  2022-02-03
3  286  35.192746  160.529773  2022-02-04
4  125  50.432409  166.838746  2022-02-05

In [129]:
df.query('date == "2022-02-01"')

    id     weight      height        date
0  957  76.280844  169.428326  2022-02-01

In [130]:
df.query('weight > 50')

    id     weight      height        date
0  957  76.280844  169.428326  2022-02-01
1  276  52.126210  178.755594  2022-02-02
2  518  60.530566  177.915689  2022-02-03
4  125  50.432409  166.838746  2022-02-05

In [132]:
df.query('weight > 50 and height < 165')

Empty DataFrame
Columns: [id, weight, height, date]
Index: []

In [134]:
qid = 125
df.query('id == @qid')

    id     weight      height        date
4  125  50.432409  166.838746  2022-02-05

In [135]:
df.index = ["anna", "bob", "carol", "dave", "erin"]
df

        id     weight      height        date
anna   957  76.280844  169.428326  2022-02-01
bob    276  52.126210  178.755594  2022-02-02
carol  518  60.530566  177.915689  2022-02-03
dave   286  35.192746  160.529773  2022-02-04
erin   125  50.432409  166.838746  2022-02-05

In [136]:
df[0,0]## KeyError: (0, 0)

KeyError: (0, 0)

In [137]:
df.iat[0,0]

957

In [138]:
df.id[0]

957

In [139]:
df[0:1].id[0]

957

In [140]:
df["anna", "id"] ## KeyError: ('anna', 'id')

KeyError: ('anna', 'id')

In [141]:
df.at["anna", "id"]

957

In [144]:
df["id"]["anna"]

957

In [145]:
df["id"][0]

957

In [146]:
df.size

20

In [147]:
df.shape

(5, 4)

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, anna to erin
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5 non-null      int64
 1   weight  5 non-null      float64
 2   height  5 non-null      float64
 3   date    5 non-null      object
dtypes: float64(2), int64(1), object(1)
memory usage: 372.0+ bytes

In [149]:
df.dtypes

id          int64
weight    float64
height    float64
date       object
dtype: object

In [150]:
df.dtypes == np.int64

id         True
weight    False
height    False
date      False
dtype: bool

In [153]:
df.describe()

              id     weight      height
count    5.00000   5.000000    5.000000
mean   432.40000  54.912555  170.693626
std    325.16196  15.040546    7.696079
min    125.00000  35.192746  160.529773
25%    276.00000  50.432409  166.838746
50%    286.00000  52.126210  169.428326
75%    518.00000  60.530566  177.915689
max    957.00000  76.280844  178.755594

In [154]:
df.filter(items=["id","weight"])

        id     weight
anna   957  76.280844
bob    276  52.126210
carol  518  60.530566
dave   286  35.192746
erin   125  50.432409

In [155]:
df[["id","weight"]]

        id     weight
anna   957  76.280844
bob    276  52.126210
carol  518  60.530566
dave   286  35.192746
erin   125  50.432409

In [156]:
df.filter(like = "i")

        id     weight      height
anna   957  76.280844  169.428326
bob    276  52.126210  178.755594
carol  518  60.530566  177.915689
dave   286  35.192746  160.529773
erin   125  50.432409  166.838746

In [157]:
df.filter(regex = "ght$")

          weight      height
anna   76.280844  169.428326
bob    52.126210  178.755594
carol  60.530566  177.915689
dave   35.192746  160.529773
erin   50.432409  166.838746

In [165]:
df.filter(like="o", axis=0)

        id     weight      height        date
bob    276  52.126210  178.755594  2022-02-02
carol  518  60.530566  177.915689  2022-02-03

## Adding columns to an existing DataFrame

In [167]:
df['student'] = [True, True, True, False, None] # Notice for interger None is replaced by NaN wherease, for str it's None
df['age'] = [19, 22, 25, None, None]
df

        id     weight      height        date student   age
anna   957  76.280844  169.428326  2022-02-01    True  19.0
bob    276  52.126210  178.755594  2022-02-02    True  22.0
carol  518  60.530566  177.915689  2022-02-03    True  25.0
dave   286  35.192746  160.529773  2022-02-04   False   NaN
erin   125  50.432409  166.838746  2022-02-05    None   NaN

In [168]:
df.assign(student = lambda x:np.where(x.student, "yes", "no"),rand = np.random.rand(5))

        id     weight      height        date student   age      rand
anna   957  76.280844  169.428326  2022-02-01     yes  19.0  0.042329
bob    276  52.126210  178.755594  2022-02-02     yes  22.0  0.348383
carol  518  60.530566  177.915689  2022-02-03     yes  25.0  0.795300
dave   286  35.192746  160.529773  2022-02-04      no   NaN  0.099885
erin   125  50.432409  166.838746  2022-02-05      no   NaN  0.458583

In [169]:
df.drop(['student'])## KeyError: "['student'] not

KeyError: "['student'] not found in axis"

In [170]:
df.drop(['student'], axis=1)

        id     weight      height        date   age
anna   957  76.280844  169.428326  2022-02-01  19.0
bob    276  52.126210  178.755594  2022-02-02  22.0
carol  518  60.530566  177.915689  2022-02-03  25.0
dave   286  35.192746  160.529773  2022-02-04   NaN
erin   125  50.432409  166.838746  2022-02-05   NaN

In [171]:
df.drop(columns = df.columns =="age")

KeyError: '[False, False, False, False, False, True] not found in axis'

In [172]:
df.drop(columns = df.columns[df.columns == "age"])

        id     weight      height        date student
anna   957  76.280844  169.428326  2022-02-01    True
bob    276  52.126210  178.755594  2022-02-02    True
carol  518  60.530566  177.915689  2022-02-03    True
dave   286  35.192746  160.529773  2022-02-04   False
erin   125  50.432409  166.838746  2022-02-05    None

In [177]:
dftp = df.dtypes == np.float64 
dftp.index[dftp.values].array

<PandasArray>
['weight', 'height', 'age']
Length: 3, dtype: object

In [178]:
df[dftp.index[dftp.values].array]

          weight      height   age
anna   76.280844  169.428326  19.0
bob    52.126210  178.755594  22.0
carol  60.530566  177.915689  25.0
dave   35.192746  160.529773   NaN
erin   50.432409  166.838746   NaN

In [180]:
## row binds 
df1 = pd.DataFrame(np.arange(6).reshape(3,2), columns=list("xy"))
df1

   x  y
0  0  1
1  2  3
2  4  5

In [182]:
df2 = pd.DataFrame(np.arange(12,6,-1).reshape(3,2),columns=list("xy"))
df2

    x   y
0  12  11
1  10   9
2   8   7

In [183]:
pd.concat([df1,df2])

    x   y
0   0   1
1   2   3
2   4   5
0  12  11
1  10   9
2   8   7

In [184]:
pd.concat([df1.loc[:,["y","x"]],df2])

    y   x
0   1   0
1   3   2
2   5   4
0  11  12
1   9  10
2   7   8

## Missing value problems and native Nas

In [186]:
s = pd.Series({"anna": "A+", "bob": "B-", "carol": "C", "dave": "D+"},index = ["erin","dave","carol","bob","anna"])

In [187]:
s

erin     NaN
dave      D+
carol      C
bob       B-
anna      A+
dtype: object

In [188]:
pd.isna(s)

erin      True
dave     False
carol    False
bob      False
anna     False
dtype: bool

In [189]:
s = pd.Series({"anna": 97, "bob": 82, "carol": 75, "dave":68},index = ["erin","dave","carol","bob","anna"],dtype='int64')
s

erin      NaN
dave     68.0
carol    75.0
bob      82.0
anna     97.0
dtype: float64

In [190]:
pd.isna(s)

erin      True
dave     False
carol    False
bob      False
anna     False
dtype: bool

In [191]:
s = pd.Series([1,2,3,None])
s

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [192]:
pd.isna(s)

0    False
1    False
2    False
3     True
dtype: bool

In [195]:
s == np.nan

0    False
1    False
2    False
3    False
dtype: bool

In [196]:
np.nan == np.nan

False

In [197]:
np.nan != np.nan

True

In [199]:
np.nan is np.nan

True

In [200]:
type(np.nan) == type(np.nan)

True

In [201]:
type(np.nan) == type(2)

False

In [205]:
na1 = np.nan
na2 = np.nan 

print(id(na1), id(na2))

4377656912 4377656912

In [203]:
id(na1) == id(na2)

True

In [206]:
l = [1,2,3,4]
k= l

In [207]:
k is l

True

In [209]:
pd.Series([1,2,3,None])

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [210]:

pd.Series([True,False,None])

0     True
1    False
2     None
dtype: object

In [211]:
pd.isna( pd.Series([1,2,3,None]))

0    False
1    False
2    False
3     True
dtype: bool

In [212]:
pd.isna( pd.Series([True,False,None]))

0    False
1    False
2     True
dtype: bool